<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= ticket.priority %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= ticket.client_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= ticket.contact_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </p>

</div>
