<div id="<%= dom_id contact %>">
  <p>
    <strong>First name:</strong>
    <%= contact.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= contact.job_title %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= contact.notes %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= contact.client_id %>
  </p>

</div>
