<%= form_with(model: service_oder) do |form| %>
  <% if service_oder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service_oder.errors.count, "error") %> prohibited this service_oder from being saved:</h2>

      <ul>
        <% service_oder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :service_id, style: "display: block" %>
    <%= form.number_field :service_id %>
  </div>

  <div>
    <%= form.label :client_id, style: "display: block" %>
    <%= form.number_field :client_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
