<div id="<%= dom_id service_oder %>">
  <p>
    <strong>Status:</strong>
    <%= service_oder.status %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= service_oder.service_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= service_oder.client_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= service_oder.user_id %>
  </p>

</div>
